@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: oklch(0 0 0);
  --muted-foreground: oklch(0 0 0 0.88);
}

.dark {
  --background: #161616;
  --foreground: oklch(1 0 0 / 0.8);
  --muted-foreground: oklch(1 0 0 / 0.72);
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
}

body {
  background-color: var(--background);
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

.dark code[data-theme*=" "],
.dark code[data-theme*=" "] span {
  color: var(--shiki-dark);
  background-color: transparent;
}
