@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hides the scrollbar on Chrome, Edge, and other WebKit-based browsers  */
pre::-webkit-scrollbar {
  display: none;
}

/* Hides the scrollbar on Gecko-based browsers like Firefox */
pre {
  scrollbar-width: none;
}
